*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    body{
    background-color: #feeafa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.h1_header{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  padding: 15px;
}
#saludo_box{
    display: inline;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px 0px;
}
#nombre{
    display: block;
}

.formulario_calculadora{
    margin: 20px;
    background-color: #cbc0d3;
    border-radius: 15px;
    padding: 8px 5px;
}

#Resultado{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    background-color: #cbc0d3;
    font-size: 1.1rem;
}


#boton_calcular{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: white;
    border-color: #8e9aaf ;
}
