*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:  #fafafa;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADER */
.header{
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 0px 8px 5px  rgb(152, 151, 151);
    width: 100%;
}


.h1_header{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.1rem;
  padding: 15px;
  color: #EC9F05;
}

@media only screen and (min-width: 401px){
    .header{
        background-color: rgb(255, 255, 255) ;
        box-shadow: 0px 0px 8px 5px  rgb(152, 151, 151);
        width: 100%;
    }
    
    
    .h1_header{
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 1.5rem;
      padding: 15px;
      color: #EC9F05;
    }
}

/* MAIN */

main{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(1, 90%);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
@media only screen and (min-width: 401px){

    main{
        grid-template-columns: repeat(2, 40%);
        grid-gap: 10px;
        grid-auto-rows: repeat(100px, 4);

    }    
}

/* CALCULADORA */
.formulario_calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: max-content;
    justify-self: center;
    margin: 20px;
    background-color: #F5BB00;
    border-color: #0E402D;
    border-width: 10px;
    border-radius: 15px;
    padding: 20px 30px;
    box-shadow: 5px 5px 6px 4px  rgb(152, 151, 151);
}
.form_input{
    margin: 5px;
    border-radius: 10px;
    min-height: 1rem;
    padding: 3px;
    border-color: #0E402D;
}

.form_text{
    font-size: 1rem;
    margin: 5px;
}
#boton_calcular{
    display: block;
    border-radius: 10px;
    padding: 5px 12px;
    background-color: white;
    border-color: #89B0AE;
    color: #89B0AE;
    border-style: solid;
    margin: 10px 0px 2px;
    min-width: 110px;
    min-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#boton_calcular:hover{
    background-color: #89B0AE;
    color: white;
    transform: scale(1.1);

}

@media only screen and (min-width: 401px){

    .form_input{
        min-height: 1.3rem;
    }

    .form_text{
        font-size: 1.2rem;
    }

}

/* RESULTADO CALCULO  */

#Resultado{

    padding: 20px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: #A4B7BA;
    margin: 2px;
    max-width: fit-content;
}

.div_resultado {
    display: none;
}

.div_resultadoActive{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: #A4B7BA;
    margin: 2px;
    min-width: fit-content;
}

/* RECOMENDACIÓN*/



.div_recomendacion {
    display: none;
}

.div_recomendacionActive {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: #A4B7BA;
    margin: 2px;
    min-width: fit-content;
    flex-direction: column;
}

@media only screen and (min-width: 401px){
.div_recomendacionActive {
    /* margin-bottom: 100px; */
}

}


/* SUGERENCIA */
.div_sugerencia{
    display: none;
}
.div_sugerenciaActive{
    display: inline-block;
    margin: 20px;
    background-color: #F5BB00;
    border-color: #0E402D;
    border-width: 10px;
    border-radius: 15px;
    padding: 8px 5px;
}

.div_sugerencias_enviadas{
    display: none;
}

.div_sugerencias_enviadasActive{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    background-color: #A4B7BA;
    margin: 2px;
    min-width: fit-content;
    flex-direction: column;
}

#boton_habilitar_sugerencia, #boton_ver_sugerencia{
    border-radius: 10px;
    padding: 5px 12px;
    background-color: white;
    border-color: #89B0AE;
    color: #89B0AE;
    border-style: solid;
    margin: 10px 0px 2px;
    max-width: fit-content;
    min-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-self: center;
}

#boton_ver_sugerencia:hover, #boton_habilitar_sugerencia:hover{
    background-color: #89B0AE;
    color: white;

}

.Boton_sugerencias{
    display: block;
}



/* PROXIMAS CARRERAS */
.div_proximas_carreras{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    max-width: max-content;
    justify-self: center;
    margin: 20px;
    background-color: #fafafa;
    border-color: #F5BB00;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
    padding: 20px 30px;
    /* box-shadow: 5px 5px 6px 4px  rgb(152, 151, 151); */
}
.p_subtitle{
    font-weight: bold;
}
/* IMAGENES */

#imagen1{
    display: none;

}

#imagen2{
    display: none;

}

#imagen3{
    display: none;
    
}

@media only screen and (min-width: 401px){

    #imagen1{
        position: relative;
        width: 10%;
    }
    
    #imagen2{
        width: 15%;
        justify-content: center;
        display: flex;
        position: fixed;
        z-index: 1;
        left: 80%;
        top:70%;
    }
    
    #imagen3{
        width: 10%;
        justify-content: center;
        display: flex;
        position: fixed;
        z-index: 1;
        left: 5%;
        top:20%;
        
    }

}

/* FOOTER */
.footer_container{

    bottom: 0px;
    left: 0px;
    display: flex;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0px 0px 8px 5px  rgb(152, 151, 151);
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    align-content: center;
    margin-top: 40px;
}

.footer_h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;                                                                                         
    font-size: 0.7rem;
    padding: 15px;
    color: #EC9F05;
    width: 40%;
}

.btn_footer{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 401px){
    .footer_h5{
    font-size: 1rem;
    }
}